/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: black;
    text-decoration: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}


.container{
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
}

@media only all and (max-width: 1200px){
    .container{
        padding: 0 25px;
    }
}


@media only all and (max-width: 768px){

}